<div class="admin-prescriptions-container">
  <h2>Gestion des Ordonnances</h2>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Client</th>
      <th>Prescrit par</th>
      <th>Détails</th>
      <th>Statut</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prescription of prescriptions">
      <td>{{ prescription.id_prescription }}</td>
      <td>{{ prescription.client_id }}</td>
      <td>{{ prescription.prescribed_by }}</td>
      <td>{{ prescription.medication_details }}</td>
      <td class="status" [ngClass]="prescription.status">{{ getStatusLabel(prescription.status) }}</td>
      <td>
        <button *ngIf="prescription.status === 'PENDING'" (click)="updateStatus(prescription.id_prescription, 'VERIFIED')">
          ✅ Valider
        </button>
        <button *ngIf="prescription.status === 'PENDING'" (click)="updateStatus(prescription.id_prescription, 'REJECTED')">
          ❌ Rejeter
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
