<div *ngIf="successMessage" class="alert alert-success">
  {{ successMessage }}
</div>

<div *ngIf="successDeleteMessage" class="alert alert-success">
  {{ successDeleteMessage }}
</div>

<form (ngSubmit)="submitCryptocurrency(cryptocurrencyForm.value)" #cryptocurrencyForm="ngForm">
  <div class="form-group">
    <label for="name_crypto">Nom de la Cryptomonnaie</label>
    <input type="text" id="name_crypto" name="name_crypto" ngModel required class="form-control" #nameCrypto="ngModel">
    <div *ngIf="nameCrypto.invalid && nameCrypto.touched" class="alert alert-danger">
      Le nom de la cryptomonnaie est requis.
    </div>
  </div>

  <div class="form-group">
    <label for="value_crypto">Valeur</label>
    <input type="number" id="value_crypto" name="value_crypto" ngModel required class="form-control" #valueCrypto="ngModel">
    <div *ngIf="valueCrypto.invalid && valueCrypto.touched" class="alert alert-danger">
      La valeur est requise et doit être un nombre.
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Créer Cryptomonnaie</button>
</form>

<button (click)="getCryptocurrencies()" class="btn btn-info mt-3">Récupérer les Cryptomonnaies</button>

<ul>
  <li *ngFor="let crypto of cryptocurrencies">
    {{ crypto.name_crypto }} - {{ crypto.value_crypto }} €
    <button (click)="deleteCryptocurrency(crypto.id_crypto)" class="btn btn-danger">Supprimer</button>
  </li>
</ul>
