<div class="admin-layout">
  <nav class="sidebar">
    <div class="logo">
      <h1>GOHAN-MED Admin</h1>
      <p>Espace Admin</p>
    </div>
    <ul class="nav-links">
      <li><a routerLink="dash" routerLinkActive="active"><i class="fas fa-anchor"></i>Dash</a></li>
      <li><a routerLink="categories" routerLinkActive="active"><i class="fas fa-th-large"></i> Catégories</a></li>
      <li><a routerLink="products" routerLinkActive="active"><i class="fas fa-pills"></i> Médicaments</a></li>
      <li><a routerLink="promotions" routerLinkActive="active"><i class="fas fa-gift"></i> Gestion promos</a></li>
      <li><a routerLink="services" routerLinkActive="active"><i class="fas fa-concierge-bell"></i> Services</a></li>
      <li><a routerLink="prescriptions" routerLinkActive="active"><i class="fas fa-prescription"></i> Ordonnances</a></li>
      <li><a routerLink="manufacturing" routerLinkActive="active"><i class="fas fa-flask"></i> Préparations</a></li>
      <li>
        <a routerLink="orders" routerLinkActive="active" class="nav-item">
          <i class="fas fa-box"></i>
          <div class="nav-text">
      <span class="notification-badge2" *ngIf="pendingOrders > 0">
        {{ pendingOrders }}
      </span>
            Commandes
          </div>
        </a>
      </li>

      <li><a routerLink="clients" routerLinkActive="active"><i class="fas fa-users"></i> Clients</a></li>
      <li><a routerLink="stock" routerLinkActive="active"><i class="fas fa-warehouse"></i> Stock</a></li>
      <li>
        <a routerLink="appointments" routerLinkActive="active" class="nav-item">
          <i class="fas fa-calendar-check"></i>
          <div class="nav-text">
            <!--ici j'ai du importer appointment car dedans il y a getAppointmentsByStatus --->
      <span class="notification-badge" *ngIf="pendingAppointments > 0">
        {{ pendingAppointments }}
      </span>
            Rendez-vous
          </div>
        </a>
      </li>


    </ul>
  </nav>
  <main class="main-content">
    <header class="top-bar">
      <h1>Tableau de Bord Administrateur</h1>
      <div class="admin-actions">
      </div>
    </header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
