<div class="container mt-5">
  <h2>Liste des Utilisateurs</h2>

  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Rôle</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>
        <button (click)="removeUser(user.id)" class="btn btn-danger">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
