<div class="profile-container">
  <h2>Mon Profil</h2>

  <ng-container>
    <div class="profile-info" *ngIf="!editMode">
      <div class="avatar-container">
        <img [src]="baseUrl+avatar || 'assets/default.jpg'" alt="Avatar" class="profile-avatar" />
      </div>

      <div class="info-group">
        <label>Nom d'utilisateur</label>
        <p>{{ client?.credential.username || "Erreur" }}</p>
      </div>
      <div class="info-group">
        <label>Prénom</label>
        <p>{{ client?.firstName || "Erreur" }}</p>
      </div>
      <div class="info-group">
        <label>Nom</label>
        <p>{{ client?.lastName || "Erreur" }}</p>
      </div>
      <div class="info-group">
        <label>Email</label>
        <p>{{ client?.credential?.mail || "Erreur" }}</p>
      </div>
      <div class="info-group">
        <label>Adresse</label>
        <p>{{ client?.address || "Erreur" }}</p>
      </div>

      <button (click)="editMode = true" class="edit-btn">Modifier le profil</button>
    </div>

    <form *ngIf="editMode" (ngSubmit)="updateProfile()" class="edit-form">
      <div class="avatar-container">
        <input type="file" (change)="onAvatarSelected($event)" accept="image/*" />
      </div>

      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input
          id="username"
          [(ngModel)]="editForm.credential.username"
          name="username"
          type="text"
          disabled
          required
        />
      </div>

      <div class="form-group">
        <label for="lastName">Nom</label>
        <input
          id="lastName"
          [(ngModel)]="editForm.lastName"
          name="lastName"
          type="text"
          required
        />
      </div>

      <div class="form-group">
        <label for="firstName">Prénom</label>
        <input
          id="firstName"
          [(ngModel)]="editForm.firstName"
          name="firstName"
          type="text"
          required
        />
      </div>

      <div class="form-group">
        <label for="address">Adresse</label>
        <input
          id="address"
          [(ngModel)]="editForm.address"
          name="address"
          type="text"
          required
        />
      </div>

      <div class="form-actions">
        <button type="submit" class="save-btn">Enregistrer</button>
        <button type="button" (click)="editMode = false" class="cancel-btn">Annuler</button>
      </div>
    </form>
  </ng-container>
</div>
