.container {
  max-width: 600px;
  margin: auto;
}

h3 {
  text-align: center;
}

.list-group-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.form-label {
  font-weight: bold;
}

.btn {
  width: 100%;
}

.alert {
  margin-top: 10px;
}
