.input{
  position: relative ;
  .floating-label{
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: all ease .2s;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
    font-size: 16px;
    color: var(--theme-label-text);
  }
     .fixed-label{
    font-size: 12px;
    height: 14px;
  }
  .floating-input{
    @extend  .flex-center !optional;
    width: 100%;
    padding: 24px 10px 10px;
    height: var(--var-security-input-heigt);
    background: transparent !important;
    color : var(--theme--input-text);
    border: 1px solid var(--theme-standard-bg);


  }
}
